# AWS Settings
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_access_key
# AWS_SESSION_TOKEN=your_session_token  # Optional, if using temporary credentials

# Bedrock Settings
BEDROCK_KNOWLEDGE_BASE_ID=your_bedrock_KB_id
BEDROCK_MODEL_ID=model

# RAG Pipeline Settings
TOP_K=5
TEMPERATURE=0.3
MAX_TOKENS=1024
CHUNK_SIZE=1000
CHUNK_OVERLAP=200

# Streamlit Settings
APP_TITLE=Enterprise Knowledge Base Q&A
APP_ICON=🏢
